/* Aca estan las variables de css de colores*/
:root{
    --white: #fafafb;
    --purple:#9a67ea;
    --blue-light:#04d4c3;
    --blue-dark:#2a73c2;
    --green: #2c7b90;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Fuentes importadas
    Primera: prompt
        .prompt-thin {
            font-family: "Prompt", sans-serif;
            font-weight: 100;
            font-style: normal;
        }

        .prompt-extralight {
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        .prompt-light {
            font-family: "Prompt", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .prompt-medium {
            font-family: "Prompt", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .prompt-semibold {
            font-family: "Prompt", sans-serif;
            font-weight: 600;
            font-style: normal;
        }

        .prompt-bold {
            font-family: "Prompt", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .prompt-extrabold {
            font-family: "Prompt", sans-serif;
            font-weight: 800;
            font-style: normal;
        }

        .prompt-black {
            font-family: "Prompt", sans-serif;
            font-weight: 900;
            font-style: normal;
        }

        .prompt-thin-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 100;
            font-style: italic;
        }

        .prompt-extralight-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-style: italic;
        }

        .prompt-light-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 300;
            font-style: italic;
        }

        .prompt-regular-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .prompt-medium-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 500;
            font-style: italic;
        }

        .prompt-semibold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 600;
            font-style: italic;
        }

        .prompt-bold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 700;
            font-style: italic;
        }

        .prompt-extrabold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 800;
            font-style: italic;
        }

        .prompt-black-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 900;
            font-style: italic;
        }


*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, var(--purple),var(--blue-light));
    height: 100%;
}

.container{
    width: 40vw;
    margin: auto auto;
}

.fecha{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around ;
    height: 100px;
    width: 100%;
}

#fechaDerecha{
    /* background-color: red; */
    width: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
}

#fechaIzquierda{
    /* background-color: #2a73c2; */
    width: 50%;
    text-align: end;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
}

/*Saludo al usuario*/


.usuario{
    margin-bottom: 1rem;
}
.h1{
    color: var(--white);
    /* margin-top:1em ; */
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;

}

.h2{
    color: var(--white);
    margin-top:1em ;
    font-size: 15px;
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/*Input con el boton de mas*/

.agregarTarea{
    width: 100%;
    height: 50px;
    background-color: var(--white);
    display: flex;
    justify-content:space-between ;
    border-radius: 8px;
    padding: 10px 10px;
    align-items: center;
}

#input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-style: none;
    background-color: var(--white);
    padding-left: 5px ;
}

.agregarTarea i{
    font-size: 40px;
    transition: all .3s ease;
}

.agregarTarea i:hover{
    transform: scale(1.1);
}


/*Lista de tareas*/

.listaDeTareas{
    margin-top: 25px;
}

#elemento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rebeccapurple;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--green), var(--blue-light));
    color: var(--white);
    margin-bottom: 10px;
}

#circuloHecho, #Basurin ,.bx-check-circle{
    font-size: 30px;
    color: var(--white);
}

#circuloHecho:hover, #Basurin:hover{
    cursor:pointer;
}

.texto{
    font-size: 15px;
}
.tachado{
    text-decoration: line-through;
}




/* Redes Sociales */

.redesSociales{
    margin-top: 10em;
    width: 100%;
    background-color: rgba(55, 53, 94, 0.411);
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    margin-top: 20px;
    width: auto;
    height: 70px;
    object-fit: contain;
}

.frase{
    margin-top: 1em;
    font-family: cursive, sans-serif;
    font-size: 15px;
    color: var(--white);
}

.iconosRedes{
    margin-top: 20px;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconosRedes a {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    transition: .5s;
}

.iconosRedes a:hover{
    background-color: white;
    color: black;
}

.iconored{
    width: 100%;
    height: 100%;
    font-size: 25px;
    color:var(--white)
}

.iconored:hover{
    color: black;
}

.creador{
    margin-top: 15px;
    color: #3d3d3d;
}






/* Pantalla chica de 320px */

@media only screen and (max-width:320px) {
    .container{
        width: 90vw;
    }
    #circuloHecho, #Basurin, .bx-check-circle{
        font-size: 20px;
    }
    #fechaDerecha{
        font-size: 25px;
        
    }
    
    #fechaIzquierda{
        font-size: 25px;
    }
}

/* Pantalla mediana */
@media only screen and (max-width:425px) {
    .container{
        width: 80vw;
    }
    #circuloHecho, #Basurin , .bx-check-circle{
        font-size: 25px;
    }
}

